.list_group {
    border-radius: 0 !important;
    height: 100vh;
}

.categories_list {
    background: var(--gray) !important;
}

.categories_list:hover {
    background: var(--white) !important;
    font-size: 18px;

    .black_color {
        color: var(--yellow);
    }

    .cate_list_img {
        padding: 0;
    }

}

.cate_list_img {
    width: 65px;
    height: 65px;
    padding: 8px;
    background-color: white;
    border: 1px solid var(--yellow);
    border-radius: 100%;
    margin-right: 1rem;
}

a {
    text-decoration: none !important;
}

.black_color {
    color: #292929;
    font-weight: 500;
}
.span_date{
    font-size: small;
    color: #292929;
}