:root {
  --yellow: #F2B541;
  --white: #FFFFFF;
  --gray: #F4F4F4;
}

#root {
  background: var(--gray);
}

.main {
  background: var(--white);
}

.news_heading {
  display: inline-block;
  /* margin: 30px 0px 0px 0px; */
  padding: 10px 30px;
  background: var(--yellow);
  color: var(--white);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.card_title {
  font-weight: 400 !important;
}

.card_text {
  font-size: small;
  color: dimgray;
}

.card_cate_btn {
  position: absolute;
  top: 4%;
  left: 4%;

  background: rgba(0, 0, 0, 0.7);
  border-top: 2px solid var(--yellow);
  border-bottom: 2px solid var(--yellow);
  color: var(--white);
  padding: 2px 20px;
}

.card_category_highlighter {
  position: absolute;
  color: var(--white);
  top: 53.5%;
  right: 4%;
}

.card_category_highlighter>span {
  padding: 8px 20px;
  border-top: 2px solid var(--yellow);
  border-bottom: 2px solid var(--yellow);
}



